@use "global" as *;

.contact {
  background-color: $gray-light;
  padding: rem(80) 0;
  margin-top: rem(80);
  @include mq(md) {
    padding: rem(140) 0;
    margin-top: rem(120);
  }
}

.inner.contact__inner {
  max-width: rem(630);
  @include mq(md) {
    min-width: rem(750);
  }
}

.contact__contents-wrapper {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.contact__text-wrapper {
  text-align: center;
  margin-top: rem(40);
}

.contact__text-wrapper p {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  margin-top: rem(10);
}