@use "global" as *;
// 制作実績のモーダル

// 全画面のモーダル（黒）
.works-modal {
  display: none; //初期状態で非表示
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-right: rem(15);
  padding-left: rem(15);
  @include mq(md) {
    padding-right: rem(25);
    padding-left: rem(25);
  }
}

// is-active付与時にモーダルを展開
.works-modal.is-active {
  display: block;
}

// 展開する白い部分
.works-modal__inner {
  width: min(90vw, 630px);
  max-height: 90vh;
  overflow-y: auto; // 縦方向のスクロールを有効にする
  background: $white;
  padding: rem(25) rem(15);
  border-radius: rem(8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; // モーダルの内側の部分が最前面に表示されるように
  @include mq(md) {
    width: min(90vw, 1080px);
    padding: rem(80);
  }
}

// 閉じるボタン
.works-modal__close-button {
  position: absolute;
  top: rem(25);
  right: rem(25);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1002; // 閉じるボタンが最前面に表示されるように
}

.works-modal__close01,
.works-modal__close02 {
  position: absolute;
  width: 2px;
  height: 20px;
  background: #000;
}

.works-modal__close01 {
  transform: rotate(45deg);
}

.works-modal__close02 {
  transform: rotate(-45deg);
}

// Works 「制作実績詳細」
.works-modal__heading {
text-align: center;
}

.works-modal__heading-en {
display: block;
font-family: $second-font-family;
font-size: rem(32);
color: $green;
font-weight: $normal;
line-height: calc(40/32);
@include mq(md) {
  font-size: rem(40);
  line-height: calc(40/40);
}
}

.works-modal__heading-jp {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $color-font;
  font-weight: $normal;
  line-height: calc(18/12);
  display: block;
  margin-top: rem(8);
}

// 画像とタイトル
.works-modal__card {
  text-align: center;
  margin-top: rem(40);
  transition: background-color 0.3s ease; // 背景色の変化にアニメーションを適用
}

.works-modal__image-wrapper {
  position: relative;
}

.works-modal__image-wrapper::before {
  content: "";
  display: block;
  padding-top: 50%;// height/width
  @include mq(md) {
    padding-top: 40%;
  }
}

.works-modal__image-wrapper img {
  width: 80%;
  max-width: 100%;
  height: 100%;
  border-radius: rem(8);
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  @include mq(md) {
    max-width: 60%;
  }
}


.works-modal__card h3 {
  font-family: $base-font-family;
  font-size: rem(18);
  color: $color-font;
  font-weight: $bold;
  line-height: 1.5;
  margin-top: rem(10);
  @include mq(md) {
    font-size: rem(20);
  }
}

.works-modal__card a {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  display: block;
  margin-top: rem(10);
  @include mq(md) {
    font-size: rem(16);
  }
}

.works-modal__card a:hover
{
  color: $green;
}

// ユーザー名・パスワード
.works-modal__access {
  margin-top: rem(10);
}

.works-modal__access p {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  display: block;
}

// 実績詳細
.works-modal__details {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16);
  margin-top: rem(40);
  @include mq(md) {
  grid-template-columns: 1fr 1fr; 
  }
}

// PCの時、「制作背景」のみをgridの左右にまたがって表示する（grid二つ分）
.works-modal__details-wrapper:last-child {
  @include mq(md) {
  grid-column: span 2;
  }
}

.works-modal__index {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(14);
  color: $color-font;
  font-weight: $bold;
  background: $pink;
  padding: rem(5) rem(10);
  border-radius: rem(4);
  line-height: 1.5;
    @include mq(md) {
    font-size: rem(16);
    }
}

.works-modal__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $color-font;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(16);
}

// モーダル展開時に、背景をスクロールさせない
.works-modal__open {
  overflow: hidden;
}

.works-modal__button-to-list {
  margin-top: rem(40);
  text-align: center;
}

// キーボードフォーカス時のスタイル
